@model  List<ClinicManagement1.Models.Category>
@foreach (var item in Model)
{
    <div class="menu-desktop">
        <ul class="main-menu">
            <li>
                @Html.ActionLink(item.CategoryName, "TatCaSanPham", "Products", new { categoryid = item.Id }, null)
            </li>
        </ul>
    </div>
}
