
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout_Clinic.cshtml";
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v10 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Assets/login/css/register.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <img src="~/Assets/login/img/image-1.png" alt="" class="image-1">

            <form action="/customers/register" method="post">
                <h3>REGISTER</h3>
                <h4 style="color:red;">@ViewBag.register</h4>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Username" id="txtUserName" name="txtUserName">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Your Name" id="txtName" name="txtName">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Password" id="txtPassWord" name="txtPassWord">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="text" class="form-control" placeholder="Phone Number" id="txtPhone" name="txtPhone">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="text" class="form-control" placeholder="Mail" id="txtEmail" name="txtEmail">
                </div>
                <input type="submit" value="REGISTER" />
                <br />
                <hr />

                <a href="/customers/login">Login?</a>
            </form>
            <img src="~/Assets/login/img/image-2.png" alt="" class="image-2">
        </div>

    </div>

    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>


