
@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>
<div class="form-inline">
    Tải ảnh lên <input name="picture" id="picture"/>
    <input type="file" id="fileUpload" name="fileUpload" style="display:none;"/>
    <input type="button" value="..." />
    <hr>
</div>
<img id="pictureUpload" width="300" />
