<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Login</title>
<link
href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"
rel="stylesheet">
<link rel="stylesheet"
href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
<link rel="stylesheet"
href="../assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="../assets/css/loginNew.css" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
    src="../assets/js/bootstrap.min.js" /></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 login-section-wrapper">
				<div class="login-wrapper my-auto">
                    <img src="../assets/images/logo-login-big.png" alt="logo" class="logo">
				
					<form action="login" method="post">
						<div class="form-group">
							<label for="email">Email</label> <input id="username" class="form-control" type="text" name="username" placeholder="Username*" autocomplete="off" required>
						</div>
						<div class="form-group mb-4">
							<label for="password">Password</label> <input id="password" class="form-control" type="password" name="password" placeholder="Password*"autocomplete="off" required>
						</div>
						<!-- <div class="topic">
							<p style="text-align: center; color: red; font-weight: bold;">${NOTIFICATION}</p>
						</div> -->
						<div class="form-group form-check">
							<input type="checkbox" name="remember" id="remember" value="1"
								class="form-check-control"> <label for="remember"
								class="form-check-label">Remember me</label>
						</div>		
						<button name="login" id="login" class="btn btn-block login-btn"
							type="submit">Login</button>	
					</form>
					
					<a href="#!" class="forgot-password-link">Forgot password?</a>
					<p class="login-wrapper-footer-text">
						Don't have an account? <a href="register" class="text-reset">Register
							here</a>
					</p>
				</div>
			</div>
		
		</div>
	</div>

</body>
</html>